<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Patil Agrotech</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/myhome.css')}}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Patil Agrotech</h1>
      <p style="color: black;">Patil Agrotech Welcomes you on our website, Hope you are earning well from your farm 
        but we are here for you to provide some suggetions about your crop cultivation 
      We recommends you to which crop you should grow in your farm for better yields. Its 
      very easy to predict which crop you should grow on the basis of your soil nutrients 
      just you need to know your soil nutrients for this you can test your soil in lab.</p>
      <br>
      <h3 style="color: black;">Let's Start New Journey With Patil Agrotech</h3>
      <br>
      <h2 style="color: black;">Click following button for Crop recommandation</h2>
    </main> -->
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="{{url_for('static',filename='style/myhome.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
</head>
<body>
  <div class="conatiner">
    <nav>
        <div>
           <p>Crop_Prediction</p>
        </div>
        <div>
            <ul>
                <li>Home</li>
                <li>About us</li>
                <a href="/Predict" style="text-decoration: none; color:white;">Predict</a>
                <li >Contact Us</li>
            </ul>
            
        </div>
        <button>Login</button>
       </nav>
        
  </div>
   <div class="hero">
    <div class="img">
        <img src="/static/style/image1.png" alt="">
    </div>
    <div class="content">
        <p>Original & Natural</p>
        <h1><span>Agriculture Matter</span></h1>
        
        <h1>Good Production</h1>
    </div>
</div>
<div class="footer">
   <div class="content-2"> <p>RECENTLY COMPLETE WORK</p>
    <H2>Explor our project</H2></div>
    <div class="image-2">
        <img id="img1" src="/static/style/image 18.png" alt="">
        <img id="img1" src="/static/style/image 11.png" alt="">
        <img id="img1" src="/static/style/image 12.png" alt="">
        <img id="img1" src="/static/style/image 13.png" alt="">
        
    </div>
</div>
<hr>
<div class="footer-2">
    <div class="left">
        <h2>Smart Agro</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br/>
        Temporibus corporis perspiciatis quidem expedita.</p>  
        <hr>
        <img src="/static/style/icon/Vector.png" alt="">
        <img src="/static/style/icon/Vector (1).png" alt="">
        <img src="/static/style/icon/Vector (2).png" alt="">
        <img src="/static/style/icon/Vector (3).png" alt="">

    </div>
    <div class="right">
        <p>Useful Links</p>
        <ul>
            <li>New projects</li>
            <br>
            <li>Our Services</li>
        </ul>
    </div>
    
    </div>
</body>
</html>
   
  <!-- </body>
</html> -->